/* styles with bootstrap breakpoints */

@import "./style-default.css";
@import "./style-sm.css" screen and (min-width: 576px);
@import "./style-md.css" screen and (min-width: 768px);
@import "./style-lg.css" screen and (min-width: 992px);
@import "./style-xl.css" screen and (min-width: 1200px);
@import "./style-xxl.css" screen and (min-width: 1400px);

@import "./colors.css";
html,
body {
    height: 100%;
}

body {
    background: url(../assets/night.jpg);
    background-size: cover;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}