html,
body {
    height: 100%;
}

body {
    background: url(../assets/night.jpg);
    background-size: cover;
    font-family: 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    font-size: 80px;
}